/DRInformationSystem/Output
/DRInformationSystem/.idea
/DRInformationSystem/obj
/DRInformationSystem/DataAccessLayer/obj
/DRInformationSystem/Tests/bin
/DRInformationSystem/Tests/obj
/DRInformationSystem/BusinessLogicLayer/obj
